<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            <%= title %>
        </title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="./images/favicon.png">
        <!-- CSS stylesheet -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

        <!-- Font awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>


</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg mb-2 mt-2">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="./images/logo.jpg"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contract">Contracts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Services
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/devops">DevSecOps/DevOps</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/application">Application Modernization</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/drupal">Drupal Content Management</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/datascience">Data Science and Analytics</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/IT">Information Technology support Services</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/agile">Agile Transformations</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customers">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- Image -->

        <img  class="img-fluid p-0 m-0 container-fluid" src="./images/application.jpg">


    <!-- Content -->


    <div class="container">
        <div class="row container">
            <h5 class="pt-5 pl-5">Application Modernization</h5>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 p-5">
                <p>Rapid delivery and continuous improvement are the foundational tenets of GCT’s application services that shepherd
                government agencies on the journey to technology modernization.</p>
                <p>GCT is at the forefront of the federal government’s future-focused technology initiative, driving innovative and
                collaborative application modernization efforts for a number of federal organizations with highly visible, critical
                missions. We can do the same for you</p>
                <p>Our experienced, cross-functional teams use a Lean-Agile framework, DevOps/DevSecOps, and continuous
                improvement/continuous delivery (CI/CD) to deliver high-quality, secure, and working solutions quickly.</p>
                <p>Structurally, GCT’s modernized applications are built as a set of microservices, each that delivers specific
                functionality and which are organized into aggregates with transactional consistency. The modular construct of the
                microservices architecture enables multiple self-organizing GCT teams to develop and deploy microservices simultaneously
                and rapidly – with functionality that either continues to enhance the application, or that responds to changing user,
                security, and technology demands.</p>
                
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6  h-100 p-5">
                <img src="./images/ams.png" class="img-fluid">
            </div>
        </div>
        <div class="row container">
            <h5 class="pt-5 pl-5">Making the Shift</h5>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 h-100 p-5">
                <p>After evaluating your legacy IT environment for modernization, our GCT Agile Solution Center subject matter experts will
                implement the shift to your new modernized – and future-aligned – application ecosystem:</p>

                <ul>
                    <li><p><b>Open Source Platform </b>GCT uses and develops open source software in our application modernization projects, eliminating the characteristic
                    limitations of proprietary or closed-source software.</p></li>

                    <li><p><b>Microservices Architecture </b>We deliver microservices architecture on the Red Hat OpenShift Platform as a design approach in our application
                    modernization efforts.</p></li>

                    <li><p><b>Code-Based Management </b>GCT employs Infrastructure as Code (IAC) as a practice to interact with the application’s infrastructure
                    programmatically – to manage and automate configurations, provisioning, and deployment – using the application
                    programming interface (API)-driven model of the cloud.</p></li>

                    <li><p><b>Frequent Releases </b>We use CI/CD practices to deliver frequent and rapid releases in small batches.</p></li>

                    
                    <li><p><b>User-Centric Design </b>A successful user experience begins with an interface that works the way the user works. Our user-centric designs
                    facilitate convenient, intuitive user interactions from any device.</p></li>

                    <li><p><b>Real-time Tracking </b>Our solutions integrate monitoring, alert systems, and log practices in a dashboard that provides visualization of
                    application performance in real-time.</p></li>
                </ul>
        
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6  h-100 p-5">
                <img src="./images/modernization.jpg" class="img-fluid">
            </div>
            <div class="row container">
                <h5 class="pt-5 pl-5">It’s in Our DNA</h5>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6  p-5">
                    <p>For more than 25 years, continuous improvement has been the driving force behind GCT’s incremental approach to
                    development. As a result, the shift to Agile, DevOps/DevSecOps, and CI/CD practices has been natural and seamless for
                    us.</p>
                    <p>Learn how our innovative application modernization efforts and use of cutting-edge practices can help YOU make the move
                    away from the burdens of your aging, legacy technologies to more flexible, secure, and future-aligned systems that adapt
                    easily to the shifting user, security, and technology landscapes.</p>
            
                   
            
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-5">
                    <img src="./images/lam.png" class="img-fluid">
                </div>
                </div>

            <div class="row container">
                <h5 class="pt-5 pl-5">It’s in Our DNA</h5>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6  p-5">
                    <p>Many legacy applications are built using a monolithic architecture in which multiple layers (presentation, application,
                    integration, and database) are developed separately, then wrapped together in a uniform EAR/WAR package. With their
                    traditional dependencies on proprietary technologies, security issues, incompatibility with newer technologies, and
                    limited ability to adapt as the environment or user demands shift, these large and complex applications quickly become
                    unwieldy, costly, and inflexible.</p>
                    <p>Microservices architecture, on the other hand, encourages change – and teamwork, and is well-suited for today’s
                    modernization efforts. Applications built with this architecture are comprised of a set of loosely coupled
                    “microservices” – or modules – with dedicated, highly specific functionality. Microservices can be developed
                    simultaneously by multiple teams and deployed rapidly and continuously to advance the application’s functionality and
                    design, or remove/build in new capabilities as needs change.</p>
            
            
            
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-5">
                    <img src="./images/building.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <div class="container-fluid foo ">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col-mb-3 col-lg-3 mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <img src="./images/cmm.png">
                    </a>
                    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        <img src="./images/iso.png">
                    </a>
                    <p style="text-align:left;">Greycells Technologies has been a trusted Government partner and has
                        provided innovative IT and data solutions to
                        Federal agencies</p>
                </div>

                <div class="col mb-2">

                </div>



                <div class="col mb-3">
                    <h5>Navigation</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/" class="nav-link foo-link p-0 ">Home</a></li>
                        <li class="nav-item mb-2"><a href="/about" class="nav-link  foo-link p-0 ">About Us</a></li>
                        <li class="nav-item mb-2"><a href="#services" class="nav-link foo-link p-0 ">Services</a></li>
                        <li class="nav-item mb-2"><a href="/contract" class="nav-link foo-link p-0 ">Contracts</a></li>
                        <li class="nav-item mb-2"><a href="/customers" class="nav-link foo-link p-0 ">Customers</a></li>
                        <li class="nav-item mb-2"><a href="/contact" class="nav-link foo-link p-0 ">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col mb-4 ">
                    <h5>Contact Information </h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><span class="material-symbols-outlined">

                            </span><a href="mailto:Contracts@greycellstech.com"
                                class="nav-link p-0 foo-link">Contracts@greycellstech.com</a></li>
                        <li class="nav-item mb-2"><a href="" class="nav-link p-0 foo-link"><span
                                    class="material-symbols-outlined">
                                    linkedin
                                </span></a>
                        </li>
                    </ul>

                </div>

            </footer>
            <hr>
            <p style="text-align: center; padding-bottom: 2%;">2020 ©Greycells Technologies. All rights reserved.</p>
        </div>
    </div>


    <!-- JavaScript Bundle with Popper -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>