/* .about{
    background-color: rgb(215, 212, 212);
} */
p{
    text-align: justify;
}
.heading{
    padding-top: 2%;
    padding-bottom: 1%;
}


.projects{
    /* background: #110f16; */
    color:rgb(22, 22, 22);
    padding: 4%;

}

.services{
    padding: 6%;
    padding-top: 3%;
    background-color: #e1e5ea;
}

/* .card{
    margin: 3%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #d9d9d9;
}
.card-body{
    padding: 3%;
} */

.home {
    display: inline-block;
    font-family: "arial";
    font-size: 24px;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.proj{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-color: #e1e5ea;
    border-width: 4px;
}

.Clients{
    background: #110f16;
    color:rgb(247, 239, 239);
    padding: 5%;

}



 .card {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
        }

        .card-img {
            flex: 0 0 150px;
        }

        .card-img img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .card-body {
            flex: 1;
            padding: 20px;
        }













/* Media Queries */
/* TABLETS */
@media (min-width: 768px) {
    /* Your CSS styles for desktop view go here */
}

/* DESKTOPS */
@media (min-width: 992px) {
    .carousel-inner{
        height: 550px;
    }
        
}


/* PHONES */
@media (max-width: 575.98px) {
    p{
        font-size: 13px;
    }
    .about{
        padding: 4%;
    }
    .animation{
        display: none;
    }  
    .projects {
        margin-bottom: 4%;
        
    }  

    .proj{
        margin: 7%;
    }
}



